#main_top_bg {
    padding-bottom: 50px;
}

#main_top_bg img {
    margin: 50px 0;
}

#s_menu .inner {
    width: 1200px;
    margin: 0 auto;
}

#s_menu ul {
    display: flex;
    justify-content: center;
}

#s_menu ul li {
    font-size: 18px;
    font-weight: 400;
}

#s_menu ul li a {
    padding: 30px;
}

#s_menu ul li a {
    border: 1px solid #ddd;
}

#s_menu ul li a:hover {
    background: #009f65;
    color: #fff;

    transition: 0.5s;
}

#main_pg {
    padding-top: 50px;
}